.education {
  margin-bottom: 40px;
  
  &-entry {
    font-size: 12px;
    margin-bottom: 10px;

    h3, p {
      margin: 0;
    }

    .location {
      font-style: italic;
      opacity: 0.6;
      text-transform: uppercase;
      font-size: 12px;  
    }
  }
}