.entry {
  margin-bottom: 10px; 
  border-left: 1px solid #CCC;
  padding-left: 15px;
  font-size: 12px;

  p {
    margin: 0;
  }

  .entry-title {
    margin-right: 10px; 
    font-weight: bold;
    display: inline-block;
  }

  .entry-date {
      text-transform: uppercase;
      opacity: 0.5;
      font-size: 10px;
      font-weight: bold;
      display: inline-block;
      margin-left: 10px;
  }
}