.cv {
  display: flex;
  min-height: 100vh;

  &-right {
    width: 35%;
    min-height: 100%;
    background-color: #0A4C41;
    padding-top: 30px;
  }

  &-left {
    width: 65%;
    padding: 30px 20px;
    box-sizing: border-box;
  }
}